form {
  width: 100%;

  .triangle {
    content: '';
    position: absolute;
    right: 13px;
    top: 50px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #2b3b42;
    cursor: pointer;
    z-index: 20;
  }
  .delete {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form-group {
    width: 100%;

    label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      float: left;
    }

    input,
    select {
      width: 100%;
      border-radius: 0;
      height: 56px;
      outline: 0 !important;
      padding-left: 50px;
      border: 0 !important;
      box-shadow: none !important;
      text-transform: uppercase;

      color: black;
      font-size: 13px;
      font-weight: 400;
      padding-right: 30px;

      &::placeholder {
        color: black;
      }
    }
  }

  .caret-down {
    height: 8px;
    position: absolute;
    right: 10px;
    top: 48px;

    cursor: pointer;
  }

  .gold-button {
    height: 56px;
    margin-top: 25px;
  }
}
