input:-webkit-autofill {
  background-color: transparent !important;
}

.text-input {
  float: left;
  position: relative;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
  z-index: 1;

  padding-top: 18px;
  margin-bottom: 19px;

  label {
    position: absolute;
    top: 18px;
    left: 10px;

    color: #221e2c;
    font-size: 16px;
    font-weight: 600;

    z-index: -1;
    transition: all 0.25s;

    span {
      color: #ee2f53;
      margin-right: 6px;
    }
  }

  input {
    background: white;
    width: 100%;
    border: 0;
    border-bottom: 0;
    outline: 0;
    padding: 0 20px;
    height: 35px;
    z-index: 1;
    color: #2b3b42;
    font-size: 16px;
    transition: border-color 1s;
    height: 45px;
    font-weight: 300;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &.text-input-active {
    label {
      top: 0;
      left: 0;

      color: #808285;
      font-size: 14px;
      font-weight: 200;

      span {
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }

  &.text-input-disabled {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background: white;
      opacity: 0.7;
      filter: alpha(opacity=70);
    }
  }

  &.text-input-error {
    input {
      border: 1px solid red;
    }
  }
}
