.dropdown-with-seatch {
  position: relative;

  .hand-lens {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 16px;
    top: 42px;

    .cls-1,
    .cls-2 {
      stroke: #2b3b42;
    }
  }

  .yacht-icon {
    position: absolute;
    width: 20px;
    left: 16px;
    top: 42px;
    height: 20px;

    .cls-1 {
      width: 20px;
    }
  }

  .rc-menu-root {
    background: white;
    text-align: left;
    color: #2b3b42;
    padding: 0;
  }

  .rc-menu-submenu-title,
  .rc-menu-item {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 13px;
    font-weight: 400;
  }

  .rc-menu-item-active,
  .rc-menu-submenu-active > .rc-menu-submenu-title,
  .rc-menu-submenu-selected,
  .rc-menu-item-selected {
    background-color: #f3f3f3 !important;
  }

  & > div {
    position: absolute !important;
  }

  &.yacht-cabins {
    input {
      padding-left: 15px;
    }
  }

  .dropdown-with-seatch-active {
    width: 100%;
    animation-name: dropdown-with-seatch-animation;
    animation-duration: 0.5s;
    opacity: 1;
    filter: alpha(opacity=1);
    z-index: 9999;
  }

  @keyframes dropdown-with-seatch-animation {
    0% {
      opacity: 0;
      filter: alpha(opacity=0);
    }
    100% {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}

@media (max-width: 767px) {
  .yacht-cabins-wrapper {
    margin-top: 10px;
  }
}
