.icon-with-text {
  displayt: flex;
  align-items:center .icon-with-text--icon {
    min-height: 56px;
    displayt: flex;
    align-items: center;
  }

  .icon-with-text--text {
    color: white;
    margin-left: 20px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
}
