.navigation {
  position: relative;

  .countries {
    position: absolute;
    top: 44px;
    right: 26px;
    height: auto;
    width: 56px;
    z-index: 1;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        width: 56px;
        padding: 10px 5px;
        background-color: white;
        border-bottom: 1px solid #ceb896;
        text-decoration: uppercase;
        cursor: pointer;

        .flag {
          width: 25px;
          border-radius: 2px;
          margin-top: -3px;
        }

        span {
          margin-left: 10px;
          text-decoration: uppercase;
        }
      }
    }
  }

  .navigation-top {
    text-transform: uppercase;
    margin-top: 12px;

    .top-item {
      float: left;
      margin-right: 30px;

      .top-navigation-flex {
        displayt: flex;
        align-items: center;
      }

      .flag {
        width: 25px;
        border-radius: 2px;
        margin-top: -3px;
      }

      .heart {
        height: 14px;
        width: 15px;
        position: absolute;
        left: -15px;
        top: 2px;

        .cls-1 {
          stroke-width: 2px;
        }
      }

      span {
        margin-left: 10px;
        color: #2b3b42;
      }

      .mail-icon {
        height: 11px;
        width: 17px;
      }

      .skype-icon {
        height: 15px;
      }

      .phone-icon {
        height: 13px;
        width: 13px;
      }

      .smartphone-icon {
        height: 14px;
        width: 14px;
      }
    }

    &.top-right {
      .top-item {
        float: right;
        margin-right: 0;
        margin-left: 30px;

        &.item-heart {
          cursor: pointer;
          color: #2b3b42;
          position: relative;

          span {
            margin-left: 8px;
            color: #2b3b42;
          }

          .wishlist-span {
            margin-left: 6px;
            background: #ceb896;
            color: white;
            padding: 0 6px;
            border-radius: 33%;
          }

          a:hover,
          a:focus {
            text-decoration: none;
          }
        }

        &.lang {
          cursor: pointer;

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
    margin-left: 0 !important;
  }

  .navbar-default {
    background: none;
    border: 0;
    border-radius: 0;
    height: 140px;
    z-index: 1000;

    -webkit-box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);
    box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);

    .container {
      position: relative;
      z-index: 2;
    }

    .navbar-collapse {
      margin-top: 44px;

      li {
        a {
          line-height: 46px;

          &:focus,
          &:hover {
            background: none;
          }
        }
      }
    }
  }

  .navbar-toggle,
  .navbar-toggle:focus {
    border: none;
    margin-top: 6px;
    background: none;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0;
  }

  .top-navigation-border {
    position: absolute;
    top: 42px;
    height: 2px;
    background: #ceb896;
    width: 45%;

    &.left-border {
      left: 0;

      background: rgb(206, 184, 150); /* Old browsers */
      background: -moz-linear-gradient(
        left,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb896', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }

    &.right-border {
      right: 0;

      background: rgb(255, 255, 255); /* Old browsers */
      background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ceb896',GradientType=1 ); /* IE6-9 */
    }
  }

  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-nav {
        li:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }

  @media (min-width: 767px) {
    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;

      .active {
        a {
          background: none;
          box-shadow: inset 0 -3px 0 0 #ceb896;
          color: $secondary-color !important;
        }

        &:hover {
          a {
            background: none;
          }
        }
      }

      ul {
        li {
          a {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: #2b3b42;
            padding-top: 35px;
            transition: all 0.3s;

            &:hover {
              box-shadow: inset 0 -3px 0 0 #2b3b42;
            }
          }
        }

        li:last-child {
          a {
            margin-right: 15px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .top-navigation-border {
      display: none;
    }

    .navbar-collapse {
      padding: 0;
      margin-top: 94px !important;
      background: white;

      ul {
        margin: 0;

        li {
          border-bottom: 1px solid #e7e7e7;

          a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px !important;
          }
        }
      }
    }

    .top-item {
      float: left !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .countries {
      right: initial;
      left: 25px;
    }
  }
}
