.sticky-navigation {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  animation-name: sticky-navigation-animation;
  animation-duration: 1s;
  z-index: 20;

  @keyframes sticky-navigation-animation {
    0% {
      opacity: 0;
      filter: alpha(opacity=0);
      position: fixed;
    }
    100% {
      opacity: 1;
      filter: alpha(opacity=100);
      position: fixed;
    }
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    bottom: 0;
    position: absolute;
    margin-left: 0 !important;
    padding: 10px 0 0 0;
  }

  .navbar-default {
    background: white;
    border: 0;
    border-radius: 0;
    height: 80px;

    -webkit-box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);
    box-shadow: 2px 9px 26px -10px rgba(0, 0, 0, 0.11);

    .container {
      position: relative;
      z-index: 2;
    }

    .navbar-collapse {
      li {
        a {
          line-height: 46px;

          &:focus,
          &:hover {
            background: none;
          }
        }
      }
    }
  }

  .navbar-toggle,
  .navbar-toggle:focus {
    border: none;
    margin-top: 6px;
    background: none;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0;
  }

  .top-navigation-border {
    position: absolute;
    top: 42px;
    height: 2px;
    background: #ceb896;
    width: 45%;

    &.left-border {
      left: 0;

      background: rgb(206, 184, 150); /* Old browsers */
      background: -moz-linear-gradient(
        left,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(206, 184, 150, 1) 68%,
        rgba(255, 255, 255, 1) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb896', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }

    &.right-border {
      right: 0;

      background: rgb(255, 255, 255); /* Old browsers */
      background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(206, 184, 150, 1) 32%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ceb896',GradientType=1 ); /* IE6-9 */
    }
  }

  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-nav {
        li:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }

  @media (min-width: 767px) {
    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;

      .active {
        a {
          background: none;
          box-shadow: inset 0 -3px 0 0 #ceb896;
          color: #ceb896;
        }

        &:hover {
          a {
            background: none;
          }
        }
      }

      ul {
        li {
          a {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: #2b3b42;
            padding-top: 19px;
            transition: all 0.3s;

            &:hover {
              box-shadow: inset 0 -3px 0 0 #2b3b42;
            }
          }
        }

        li:last-child {
          a {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
