.not-found {
  background: #f1f1f1;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 96px - 200px);

  .compass-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .compass-icon {
      width: 300px;

      .cls-1 {
        fill: #ceb896;
      }
    }
  }

  .text-wrapper {
    justify-content: center;
    flex-direction: column;

    h1 {
      font-weight: normal;
      font-size: 31px;
      padding: 0 0 25px;
      color: #2b3b42;
    }

    p {
      line-height: 1.5;
      padding: 0 0 20px;
      font-size: 15px;

      color: #2b3b42;

      a {
        color: #ceb896;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: #ceb896;
          text-decoration: none;
        }
      }
    }
  }

  .row-not-found {
    display: flex;
  }

  @media (max-width: 767px) {
    .compass-wrapper {
      margin-top: 20px;

      .compass-icon {
        width: 100px;
      }
    }

    .row-not-found {
      display: block;
    }
  }
}
