.list-price {
  color: $secondary;
  text-decoration: line-through;
}
.price {
}

.price-block {
  display: block;
  overflow: hidden;
  font-size: 13px;
  line-height: 1;
  color: #2b3b42;
  font-family: 'Open Sans', sans-serif;

  .discount {
    display: inline-block;
    color: #ceb896;
    float: right;
    margin: 0 3px;
    padding: 12px 4px;
    background-color: #fff;
    border: 1px solid #ceb896;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: 600;

    &:after {
      content: '%';
      font-weight: 300;
    }
  }

  .price {
    display: block;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
  }
}

.price-block--box {
  padding: 8px;
  border: 1px solid #ceb896;
}
.price-block--hover {
  transition: background 1s;
  &:hover {
    background: #ceb896;
    color: white;
    text-decoration: none;

    .list-price,
    .price {
      color: white;
    }
  }
}
