$navbarHeight: 78px;
$primary-color: #2b3b42;
$secondary-color: #ceb896;
$grey-color: #f1f0f0;
$vertical-space: 30px;
$font-2: 'Open Sans', sans-serif;
$font-1: 'Open Sans', sans-serif;

$font-size-base: 0.85rem;
$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 600;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.45rem;

$primary: #2b3b42;
$secondary: #ceb896;

$info: #eee;
$light: #fff;
$border: #ddd;

$link-color: $secondary;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$input-btn-line-height-lg: (48px - 20px) / 16px;

$navbar-light-color: $primary;
$navbar-light-hover-color: rgba($primary, 0.7);
$navbar-light-active-color: #ceb896;
$navbar-dark-toggler-border-color: $primary;

$card-cap-bg: $primary;
$card-cap-color: #fff;

$carousel-control-color: $secondary;

$slick-arrow-color: $secondary;

$ig-blue: $secondary;

$navHeight: 78px;

:export {
  navbarHeight: navbarHeight;
  primaryColor: #2b3b42;
  secondaryColor: #ceb896;
}
